@model IEnumerable<EGames.Models.Product>
@inject IHttpContextAccessor HttpContextAccesor

@{
    ViewData["Title"] = "Index";
    ViewBag.Username = @HttpContextAccesor.HttpContext.Session.GetString("Username");
    ViewBag.name = @HttpContextAccesor.HttpContext.Session.GetString("name");
}

<h1>Index</h1>


<table class="table">
    @if (ViewBag.Username != null)
    {
     <p>
       <a asp-action="Create">Create New</a>
     </p>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Publisher)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        <img src="/Image/@item.Image" alt="Image" height="100" width="100" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Publisher)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    }
    else
    {
        @if (ViewBag.name != null)
        {
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Image)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Publisher)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            <img src="/Image/@item.Image" alt="Image" height="100" width="100" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Publisher)
                        </td>
                        <td>
                            
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                            
                        </td>
                    </tr>
                }
            </tbody>
        }
    }
</table>
